.header-admin {
  padding: 10px 0px;
  background-color: rgba(208, 208, 208, 0.2);

  .box-header {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
  }

  .box-logo {
    max-width: 150px;
  }

  .box-shortcuts {

  }
}

.topo-empresa {
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;

  .logo {
    max-width: 200px;
  }
}