.header-admin {
  padding: 10px 0px;
  background-color: #f1f1f1;

  .box-header {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
  }

  .box-logo {
    padding: 10px 0;
    img{
      height: 40px;
    }
  }

  .btn-default{
    background: transparent;
  }
}
.flex-topo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
figure{
  padding: 4px;
  border: 2px solid white;
  border-radius: 10px;
  img{
    border-radius: 10px;
  }
}
.topo-empresa {
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
  background-image: url('../images/empresas.jpg');
  background-position: center center;

  .logo {
    max-width: 200px;
    float: left;
  }
  h2{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
  }
}
