.header{
  width: 100%;

  .box-logo {

  }

  .inicial &{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .flex-top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu{
    display: flex;
    list-style: none;
    padding: 0 30px;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0;

    li {
      &:not(:last-child) {
        margin-right: 25px;
      }

      a {
        font-size: 16px;
        color: #fff;
        font-weight: lighter;
      }
    }

  }
  .btn-login {
    background-color: $main-color;
    border-radius: 0px;
    border-color: $main-color;
    @include transition;

    &:hover {
      background-color: $main-color-dark;
      border-color: $main-color-dark;
      @include transition;
    }
  }
}
