.home{
  width: 100%;

  .carousel {
    .item {
      .image {
        height: 80vh;
        background-size: cover;
        background-position: center;
      }

      .carousel-caption {
        p {
          font-size: 1.4em;
          margin-bottom: 30px;
          color: #fff;
          text-shadow: 0 0px 5px rgba(0,0,0,0.7);
        }
      }
    }
  }

  .quem-somos {
    .item {
      margin-top: 50px;
      margin-bottom: 50px
    }

    .title-section {
      margin: 0px 0px 20px;
    }

  }
  
  .como-funciona {
    .passos {
      display: flex;
      align-items: center;
      justify-content: center;

      .passo {
        margin: 0px 30px;

        img {
          border-radius: 50%;
        }
      }
    }
  }

  .seja-parceiro {
    background-color: #eee;
    padding-bottom: 20px;
    padding-top: 10px;

    .text {
      .btn  {

      }
    }

    .contato {
      margin-top: 10px;

      .number {
        display: block;
        font-size: 1.3em;
      }
    }
  }
}
