.home-empresa {
  .content-page {

  }

  .topo-home-empresa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
      border-radius: 0;
      background: $main-color;
      border: 0;
      text-transform: uppercase;
    }
  }

  .title-page {
    margin: 0px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 35px;
  }

  .list-vagas {
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .action {
    margin: 0 20px;
  }

  .item-vaga {
    margin: 15px 0px;
    padding: 15px;
    background-color: #f9f9f9;
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    border-left: 7px solid #8c8c8c;

    .qtd-indicados {
      height: 100%;
      border-left: 1px solid #626262;
      border-right: 1px solid #626262;
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      margin: 0 40px;
    }
    .main-infos {
      h3 {
        margin: 0px;
        margin-bottom: 10px;
        color: #626262;
        text-transform: uppercase;
        font-size: 22px;
      }

      .description {
        p {
          margin: 0px;
          color: #a1a1a1;
          @include line-limit(4, 16px);
        }
      }
    }
  }
}
