.header-login {
  padding: 10px 0px;

  .box-logo {
    max-width: 280px;
  }
}

.login{
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;


  .cont{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;

    .logo{
      margin-bottom: 30px;
    }

    form{
      width: 100%;
    }

    .title {
      font-family: $font-1;
      font-weight: lighter;
      margin-bottom: 20px;
    }

    .form-control{
      width: 100%;
      border-radius: 0;
      background: white;
      box-shadow: none;
      outline: none;
      height: 40px;
      border-color: #e2e2e2;

    }
    
    .input-group-addon {
      background-color: #eee;
      border-radius: 0px;
      border: 1px solid #e2e2e2;
      border-right: 0px
    }

    .btn-login{
      width: 100%;
      border: 0;
      background: $main-color;
      color: white;
      text-transform: uppercase;
      padding: 6px 10px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      outline: none;
      @include transition;

      &:hover {
        background-color: $main-color-dark;
        @include transition;
      }
    }
  }
}
