.jovem{
  background: #f1f1f1;
  padding: 30px 0;

  .content{
    background: white;
    padding: 35px;
    border-radius: 5px;

    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .cont{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        figure{
          margin-right: 30px;
        }
        h2{
          margin: 0;
        }
      }
      .btn-select{
        height: auto;
        padding: 7px 10px;
        background: #0079bf;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        border: 0;
      }
    }
    .middle{
      .block{
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 15px;
        margin-bottom: 15px;
        p{
          margin-bottom: 0;
        }
        h2, h3{
          margin-top: 0;
        }
      }
      .list-itens{
        li{
          display: flex;
          align-items: center;
          &:before{
            content: "\f111";
            font-family: "FontAwesome";
            vertical-align: middle;
            font-size: 6px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
