.jovem{

  .content{
    background: $almost-white;
    padding: 35px;
    border-radius: 5px;

    .btn-selecionar {
      &.selected {
        border-color: #b3b3b3;
        background-color: #b3b3b3;

        &:hover {
          border-color: #b3b3b3;
          background-color: #b3b3b3;
        }
      }
    }

    .top{
      @include flexbox;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;

      .image {
        width: 140px;
        border: none;
      }

      .cont{
        @include flexbox;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 140px);
        flex-wrap: wrap;

        figure{
          margin-right: 30px;
          border: none;
        }

        h2{
          margin: 0;
        }
      }


      .main-infos {
        width: 100%;
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
      }

      .btn-select{
        height: auto;
        padding: 7px 10px;
        background: #0079bf;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        border: 0;
      }
    }

    .middle{
      .block{
        padding-bottom: 15px;
        margin-bottom: 15px;

        p{
          margin-bottom: 0;
        }

        h2, h3{
          margin-top: 0;
        }
      }

      .list-itens{
        li{
          @include flexbox;
          align-items: center;
          &:before{
            content: "\f111";
            font-family: "FontAwesome";
            vertical-align: middle;
            font-size: 6px;
            margin-right: 5px;
          }
        }
      }
    }

    .more-about {
      @include flexbox;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
