.vaga{
  .content{
    background-color: #f8f8f8;
    padding: 35px;
    border-left: 10px solid $main-color;

    h1{
      margin-top: 0;
      margin-bottom: 20px;
      color: #757575;
      text-transform: uppercase;
      font-size: 29px;
    }
    p{
      color: #9d9d9d;
      @include line-limit(4, 16px);
    }
    h3 {
      margin: 0px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: #757575;
      text-transform: uppercase;
      font-size: 18px;
    }
    .list-itens{
      li{
        display: flex;
        align-items: center;
        color: #9d9d9d;
        &:before{
          content: "\f111";
          font-family: "FontAwesome";
          vertical-align: middle;
          font-size: 6px;
          margin-right: 5px;
          color: #757575;
        }
      }
    }
    .flex-cols{
      display: flex;
      align-items: stretch;
    }
    .list-skills{
      border-left: 1px solid #979797;
      padding-left: 40px;
      margin-left: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li{
        margin-bottom: 15px;
        color: #9d9d9d;
        font-size: 17px;
        .fa{
          margin-right: 7px;
        }
        &.money{
          strong{
            color: $main-color;
            display: block;
            font-size: 32px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .list-candidatos {
    background-color: #f1f1f1;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .item-vaga {
    border: 1px solid #eee;
    margin: 15px 0px;
    padding: 15px;
    @include flexbox;
    align-items: center;
    justify-content: space-between;

    .main-infos {
      .description {
        p {
          margin: 0px;
        }
      }

      .qtd-indicados {
        padding: 0px 20px;
        @include flexbox;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: 200px;
      }

      .action {
        margin-top: 20px;
      }
    }
  }
}
