.cadastrar-vaga {
  
}

.vaga{
  .content{
    background-color: #f8f8f8;
    padding: 35px;
    border-left: 10px solid $main-color;
    border-top: 1px solid $gray-light;
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;

    h1{
      margin-top: 0;
      margin-bottom: 20px;
      color: #757575;
      text-transform: uppercase;
      font-size: 29px;
    }
    p{
      color: #9d9d9d;
      @include line-limit(4, 16px);
    }

    h3 {
      margin: 0px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: #757575;
      text-transform: uppercase;
      font-size: 18px;
    }


    .list-beneficios {
      li {

      }
    }

    .list-itens{
      
      li{
        display: flex;
        align-items: center;
        color: #9d9d9d;
        font-size: 1.2em;
        
        &:before{
          content: "\f111";
          font-family: "FontAwesome";
          vertical-align: middle;
          font-size: 6px;
          margin-right: 5px;
          color: #757575;
        }
      }
    }

    .flex-cols{
      display: flex;
      align-items: stretch;
    }

    .list-skills {
      border-left: 1px solid $gray;
      padding-left: 40px;
      margin-left: 30px;
      height: 100%;
      @include flexbox;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      .info-salario {
        font-size: 1.7em;
        font-weight: lighter;

        .valor {
          display: block;
          color: $main-color;
        }
      }

      li{
        margin-bottom: 10px;
        color: $gray;

        &:not(.info-salario) {
          padding-left: 25px;
          position: relative;
          font-size: 1.2em;
          font-weight: lighter;

          .fa {
            position: absolute;
            left: 0px;
            font-size: 1.3em;
            text-align: center;
            width: 15px;
          }
        }
      }
    }
  }

  .box-candidatos {
    margin-top: 50px;

    & > h2 {
      text-align: center;
    }
  }

  .list-candidatos {
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .item-vaga {
    margin: 15px 0px;
    padding: 15px;
    background-color: $almost-white;
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    border-left: 7px solid #8c8c8c;

    .qtd-indicados {
      height: 100%;
      border-left: 1px solid #626262;
      border-right: 1px solid #626262;
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      margin: 0 40px;
    }
    
    .main-infos {
      h3 {
        margin: 0px;
        margin-bottom: 10px;
        color: #626262;
        text-transform: uppercase;
        font-size: 22px;
      }

      .description {
        p {
          margin: 0px;
          color: #a1a1a1;
          @include line-limit(4, 16px);
        }
      }
    }
  }
}
