@import "base/resets";

.header{
  width: 100%;
  .inicial &{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .flex-top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu{
    display: flex;
    list-style: none;
    padding: 0 30px;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0;
    li{
      &:not(:last-child){
        margin-right: 25px;
      }
      a{
        font-size: 16px;
      }
    }
  }
}
.home{
  width: 100%;
}
.footer{
  margin-top: 50px;
  .flex-footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    .footer-itens{
      li{
        a{
          font-size: 16px;
        }
        .fa{
          margin-right: 5px;
        }
      }
    }
    .footer-redes{
      display: flex;
      li{
        margin: 0 5px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 6px;background: #666;
          color: white;
          border-radius: 4px;
          font-size: 16px;
          // &.fb{
          //   background:
          // }
        }
      }
    }
  }
}
.login{
  background: #f1f1f1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .cont{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo{
      margin-bottom: 30px;
    }
    form{
      width: 100%;
    }
    .form-control{
      width: 100%;
      border-radius: 0;
      background: white;
      box-shadow: none;
      outline: none;
      height: 40px;
      border-color: #e2e2e2;
    }
    .btn-login{
      width: 100%;
      border: 0;
      background: rgb(0, 121, 191);
      color: white;
      text-transform: uppercase;
      padding: 6px 10px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      outline: none;
    }
  }
}
