.top{
  position: relative;
  z-index: 10;
  .flex-top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu{
    display: flex;
    list-style: none;
    padding: 0 30px;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0;
    li{
      &:not(:last-child){
        margin-right: 25px;
      }
      a{
        color: #666;
        text-decoration: none;
        font-size: 16px;
        &:hover{
          color: black;
        }
      }
    }
  }
}
.content.home{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
