body, html {
  height: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: #666; }
  a:hover {
    text-decoration: none;
    color: black; }

label {
  display: block; }

.no-padding-right {
  padding-right: 0px; }

.no-padding-left {
  padding-left: 0px; }

.btn-action {
  background-color: #8bc29c;
  border-radius: 0px;
  border-color: #8bc29c;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
  -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
  -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
  -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
  transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }
  .btn-action:hover {
    background-color: #509766;
    border-color: #509766;
    color: white;
    -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }

.form-control {
  border-radius: 0px;
  box-shadow: none; }

body {
  font-family: "Roboto", sans-serif; }

.home {
  width: 100%; }
  .home .carousel .item .image {
    height: 80vh;
    background-size: cover;
    background-position: center; }
    .home .carousel .item .image::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); }
  .home .carousel .item .carousel-caption {
    top: 50%;
    left: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -mox-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%; }
    .home .carousel .item .carousel-caption p {
      font-size: 2.1em;
      color: #fff;
      text-shadow: 0 0px 5px rgba(0, 0, 0, 0.7); }
  .home .quem-somos .item {
    margin-top: 50px;
    margin-bottom: 50px; }
  .home .quem-somos .title-section {
    margin: 0px 0px 20px; }
  .home .como-funciona .passos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center; }
    .home .como-funciona .passos .passo {
      margin: 0px 30px; }
      .home .como-funciona .passos .passo .image {
        margin-bottom: 10px;
        border-radius: 50%;
        background-color: #8bc29c;
        padding: 25px;
        width: 130px;
        height: 130px; }
      .home .como-funciona .passos .passo img {
        margin: 0 auto;
        max-width: 100%; }
  .home .seja-parceiro {
    background-color: #f4807a;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #fff; }
    .home .seja-parceiro .text .btn {
      background-color: #8bc29c;
      border-radius: 0px;
      border-color: #8bc29c;
      width: 200px;
      -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }
      .home .seja-parceiro .text .btn:hover {
        background-color: #509766;
        border-color: #509766;
        -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }
    .home .seja-parceiro .contato {
      margin-top: 10px; }
      .home .seja-parceiro .contato .number {
        display: block;
        font-size: 1.3em; }

.header {
  width: 100%; }
  .inicial .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .header .flex-top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .main-menu {
    display: flex;
    list-style: none;
    padding: 0 30px;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0; }
    .header .main-menu li:not(:last-child) {
      margin-right: 25px; }
    .header .main-menu li a {
      font-size: 16px;
      color: #fff;
      font-weight: lighter; }
  .header .btn-login {
    background-color: #8bc29c;
    border-radius: 0px;
    border-color: #8bc29c;
    color: #fff;
    -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
    transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }
    .header .btn-login:hover {
      background-color: #509766;
      border-color: #509766;
      -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }

.footer {
  margin-top: 50px;
  padding: 20px 0px; }
  .footer .flex-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%; }
    .footer .flex-footer .footer-itens li a {
      font-size: 16px; }
    .footer .flex-footer .footer-itens li .fa {
      margin-right: 5px; }
    .footer .flex-footer .footer-redes {
      display: flex; }
      .footer .flex-footer .footer-redes li {
        margin: 0 5px; }
        .footer .flex-footer .footer-redes li a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 6px;
          background: #666;
          color: white;
          border-radius: 4px;
          font-size: 16px; }

.header-admin {
  padding: 10px 0px;
  background-color: #f1f1f1; }
  .header-admin .box-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-admin .box-logo {
    padding: 10px 0; }
    .header-admin .box-logo img {
      height: 40px; }
  .header-admin .btn-default {
    background: transparent; }

.flex-topo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

figure {
  padding: 4px;
  border: 2px solid white;
  border-radius: 10px; }
  figure img {
    border-radius: 10px; }

.topo-empresa {
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
  background-image: url("../images/empresas.jpg");
  background-position: center center; }
  .topo-empresa .logo {
    max-width: 200px;
    float: left; }
  .topo-empresa h2 {
    text-transform: uppercase;
    color: white;
    font-size: 20px; }

.header-login {
  padding: 10px 0px; }
  .header-login .box-logo {
    max-width: 280px; }

.login {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px; }
  .login .cont {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px; }
    .login .cont .logo {
      margin-bottom: 30px; }
    .login .cont form {
      width: 100%; }
    .login .cont .title {
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      margin-bottom: 20px; }
    .login .cont .form-control {
      width: 100%;
      border-radius: 0;
      background: white;
      box-shadow: none;
      outline: none;
      height: 40px;
      border-color: #e2e2e2; }
    .login .cont .input-group-addon {
      background-color: #eee;
      border-radius: 0px;
      border: 1px solid #e2e2e2;
      border-right: 0px; }
    .login .cont .btn-login {
      width: 100%;
      border: 0;
      background: #8bc29c;
      color: white;
      text-transform: uppercase;
      padding: 6px 10px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      outline: none;
      -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
      transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }
      .login .cont .btn-login:hover {
        background-color: #509766;
        -webkit-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -moz-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -ms-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        -o-transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1);
        transition: all 350ms cubic-bezier(0.7, 0, 0.9, 1); }

.vaga .content {
  background-color: #f8f8f8;
  padding: 35px;
  border-left: 10px solid #8bc29c;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  .vaga .content h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #757575;
    text-transform: uppercase;
    font-size: 29px; }
  .vaga .content p {
    color: #9d9d9d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 16px;
    max-height: 64px; }
  .vaga .content h3 {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #757575;
    text-transform: uppercase;
    font-size: 18px; }
  .vaga .content .list-itens li {
    display: flex;
    align-items: center;
    color: #9d9d9d;
    font-size: 1.2em; }
    .vaga .content .list-itens li:before {
      content: "\f111";
      font-family: "FontAwesome";
      vertical-align: middle;
      font-size: 6px;
      margin-right: 5px;
      color: #757575; }
  .vaga .content .flex-cols {
    display: flex;
    align-items: stretch; }
  .vaga .content .list-skills {
    border-left: 1px solid #696969;
    padding-left: 40px;
    margin-left: 30px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .vaga .content .list-skills .info-salario {
      font-size: 1.7em;
      font-weight: lighter; }
      .vaga .content .list-skills .info-salario .valor {
        display: block;
        color: #8bc29c; }
    .vaga .content .list-skills li {
      margin-bottom: 10px;
      color: #696969; }
      .vaga .content .list-skills li:not(.info-salario) {
        padding-left: 25px;
        position: relative;
        font-size: 1.2em;
        font-weight: lighter; }
        .vaga .content .list-skills li:not(.info-salario) .fa {
          position: absolute;
          left: 0px;
          font-size: 1.3em;
          text-align: center;
          width: 15px; }
.vaga .box-candidatos {
  margin-top: 50px; }
  .vaga .box-candidatos > h2 {
    text-align: center; }
.vaga .list-candidatos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px; }
.vaga .item-vaga {
  margin: 15px 0px;
  padding: 15px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 7px solid #8c8c8c; }
  .vaga .item-vaga .qtd-indicados {
    height: 100%;
    border-left: 1px solid #626262;
    border-right: 1px solid #626262;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 40px; }
  .vaga .item-vaga .main-infos h3 {
    margin: 0px;
    margin-bottom: 10px;
    color: #626262;
    text-transform: uppercase;
    font-size: 22px; }
  .vaga .item-vaga .main-infos .description p {
    margin: 0px;
    color: #a1a1a1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 16px;
    max-height: 64px; }

.jovem .content {
  background: #f8f8f8;
  padding: 35px;
  border-radius: 5px; }
  .jovem .content .btn-selecionar.selected {
    border-color: #b3b3b3;
    background-color: #b3b3b3; }
    .jovem .content .btn-selecionar.selected:hover {
      border-color: #b3b3b3;
      background-color: #b3b3b3; }
  .jovem .content .top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
    .jovem .content .top .image {
      width: 200px;
      border: none; }
    .jovem .content .top .cont {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 250px);
      flex-wrap: wrap; }
      .jovem .content .top .cont figure {
        margin-right: 30px;
        border: none; }
      .jovem .content .top .cont h2 {
        margin: 0; }
    .jovem .content .top .main-infos {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px; }
    .jovem .content .top .btn-select {
      height: auto;
      padding: 7px 10px;
      background: #0079bf;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      border: 0; }
  .jovem .content .middle .block {
    padding-bottom: 15px;
    margin-bottom: 15px; }
    .jovem .content .middle .block p {
      margin-bottom: 0; }
    .jovem .content .middle .block h2, .jovem .content .middle .block h3 {
      margin-top: 0; }
  .jovem .content .middle .list-itens li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .jovem .content .middle .list-itens li:before {
      content: "\f111";
      font-family: "FontAwesome";
      vertical-align: middle;
      font-size: 6px;
      margin-right: 5px; }
  .jovem .content .more-about {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap; }

.home-empresa .topo-home-empresa {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .home-empresa .topo-home-empresa .btn {
    border-radius: 0;
    background: #8bc29c;
    border: 0;
    text-transform: uppercase; }
.home-empresa .title-page {
  margin: 0px;
  text-transform: uppercase;
  color: #8c8c8c;
  font-size: 35px; }
.home-empresa .list-vagas {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px; }
.home-empresa .action {
  margin-right: 20px; }
.home-empresa .item-vaga {
  margin: 15px 0px;
  padding: 15px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 7px solid #8c8c8c; }
  .home-empresa .item-vaga .qtd-indicados {
    height: 100%;
    border-left: 1px solid #626262;
    border-right: 1px solid #626262;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 40px; }
  .home-empresa .item-vaga .main-infos h3 {
    margin: 0px;
    margin-bottom: 10px;
    color: #626262;
    text-transform: uppercase;
    font-size: 22px; }
  .home-empresa .item-vaga .main-infos .description p {
    margin: 0px;
    color: #a1a1a1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 16px;
    max-height: 64px; }

.cadastrar-vaga {
  background-color: white; }
  .cadastrar-vaga .content {
    background-color: #f8f8f8;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */
